:root {
  --brand-primary-color: rgb(108, 108, 189);
  --brand-secondary-color: rgb(122, 33, 33);
  --font-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Helper Classes */

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.pointer {
  cursor: pointer;
}
.border {
  border: 1px solid red;
}
