.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 100px auto 20px;
  width: fit-content;
}
.product {
  width: 250px;
  height: 300px;
}
.product-add-cart {
  background-color: red;
}
