.cartitem {
  padding: 0 20px;
  margin-top: 20px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #bebebe;
  transition-duration: 0.3s;
}
.cartitem:hover {
  box-shadow: 0 0 4px 2px #c7c7c7;
}
.cart-img {
  height: 60%;
}
.cart-img img {
  width: 100%;
  height: 100%;
}
.cart-add-cart {
  padding: 8px;
  width: 100px;
  border: none;
  background: var(--btn-bg-color);
  color: var(--btn-color);
  margin-top: 16px;
}
.cart-info {
  margin: 0 120px;
}
